.pictures {
  background-image: linear-gradient(rgba(#868e96, 0.8), rgba(#868e96, 0.8)),
    url(../img/back.jpg);

  background-size: cover;
  background-position: bottom;

  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }

  &__textbox {
    width: 100%;
    grid-row: 2 / 6;
    grid-column: 2 / 6;

    &--title {
      font-size: 3.5rem;
      color: white;
      text-align: right;
      padding-bottom: 6rem;
      border-bottom: solid 1px white;
    }

    &--subtitle {
      font-size: 2.25rem;
      color: white;
      text-align: right;
      margin-top: 10rem;
    }
  }

  //   &__img--1 {
  //     width: 100%;
  //     grid-row: 2 / 6;
  //     grid-column: 2 / 6;
  //     box-shadow: 0 2rem 5rem rgba(#000, 0.1);

  //     @media only screen and (max-width: 37.5em) {
  //       grid-column: 1 / 5;
  //       grid-row: 1 / -1;
  //     }
  //   }

  //   &__img--2 {
  //     width: 115%;
  //     grid-row: 4 / 6;
  //     grid-column: 4 / 7;
  //     z-index: 20;
  //     box-shadow: 0 2rem 5rem rgba(#000, 0.2);

  //     @media only screen and (max-width: 37.5em) {
  //       grid-row: 1 / -1;
  //       width: 100%;
  //     }
  //   }
}
