.header {
  background-color: $color-grey-light-1;
  grid-column: full-start / full-end;

  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--color-grey-light-2);

  @media only screen and (max-width: $bp-medium) {
    flex-wrap: wrap;
  }
}

.user-nav {
  display: flex;
  align-self: stretch;

  align-items: center;

  &__box {
    display: inline-block;

    padding: 0 2rem;
    cursor: pointer;
  }

  @media only screen and (max-width: $bp-medium) {
    flex: 0 0 100%;
    justify-content: space-between;
  }
}
